
<div class="row">
    <div class="col-md-5">
        <h2>Contacts</h2>
        <ul class="list-group">
            <li class="list-group-item"
                *ngFor="let contact of contacts"
                (click)="selected = contact"
                [class.active]="contact === selected">
                {{contact.username}}
            </li>
        </ul>
        <button class="btn btn-warning" (click)="create()">New contact</button>
    </div>
    <div class="col-md-5 col-md-offset-2">
        <app-contact-details
            [contact]="selected"
            [delegate]="this">
        </app-contact-details>
    </div>
</div>
